<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>466316015077-7oirr1n7m8g44ka1nbdviuo2cuf82qa9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466316015077-7oirr1n7m8g44ka1nbdviuo2cuf82qa9</string>
	<key>API_KEY</key>
	<string>AIzaSyAsPLS_8jLOy6DByn2iZxldF3_iVWzJj00</string>
	<key>GCM_SENDER_ID</key>
	<string>466316015077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gyk42.EatFreshNY</string>
	<key>PROJECT_ID</key>
	<string>eatfreshny-86172</string>
	<key>STORAGE_BUCKET</key>
	<string>eatfreshny-86172.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:466316015077:ios:824ce9a878ac478d</string>
	<key>DATABASE_URL</key>
	<string>https://eatfreshny-86172.firebaseio.com</string>
</dict>
</plist>